@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap');


:root {
    --logo-color: #2196F3;
    --team-background: #F5F4FA;
    --bars-color: #2F303A;
    --topic-color: #212121;
    --desc-color: #757575;
    --reach-color: rgba(255, 255, 255, 0.6);
    --blank: #FFFFFF;


}


body {
    font-family: "roboto";
}


.listed-items {
    list-style: none;
}

ul {
    font-family: "roboto";
}

.lnk {


    text-decoration: none;
    font-size: 14px;
    line-height: 1.14;

}

.lnk-page {
    color: var(--topic-color);
    letter-spacing: 0.02em;
}

.lnk-reach {
    color: var(--reach-color);
    letter-spacing: 0.02em;
}

.adrs {
    color: var(--blank);
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
}

.lnk:hover {
    color: var(--logo-color);
}


.bars {
    background: var(--bars-color);
}

.team-sect {
    background: var(--team-background);
}

.logo {
    color: var(--logo-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.39;
    font-family: 'Raleway';
    letter-spacing: 0.03em;
}

.names {
    color: var(--topic-color);
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.roles {
    color: var(--desc-color);
    font-size: 16px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
}

.button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    letter-spacing: 0.06em;
}

.button:hover {
    background: var(--logo-color);
    color: var(--blank);
}

.title {
    color: var(--blank);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    font-family: "roboto";
    letter-spacing: 0.06em;
}

.features {
    color: var(--topic-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.features-text {
    color: var(--desc-color);
    font-size: 14px;
    line-height: 1.72;
    letter-spacing: 0.03em;
}

.titles {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    font-family: "roboto";
    letter-spacing: 0.03em;
}

.prod {
    color: var(--topic-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.prod.desc {
    color: var(--desc-color);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
}